/* .img-div img{
    width: 100%;
    object-fit: contain;
    border: 1px solid red;
} */

.image-container {
    max-width: 100%;
    text-align: center;
  }
  
  .centered-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  

.option-btn {
    /* padding: 10px 20px; */
    width: 200px;
    height: 45px;
    border: 0;
    background-color: slategrey;
    color: white;
    font-weight: 500;
}
.option-btn:hover{
    background-color: darkseagreen;
}

.hidden {
    display: none !important;
}
li{
    list-style: none !important;
}

#employee-list li .edit {
    display: none;
}

#employee-list li.editing .edit {
	display: block;
	width: 300px !important;
	padding: 5px 15px;
	margin: 0;
}

#employee-list .view {
    background-color: steelblue;
    width: 300px !important;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}

#search-bar {
    width: 300px;
    text-align: center;
}

#save-btn {
    background-color: steelblue;
    color: white;
    border: 0;
    width: 100px;
    border-radius: 3px;
    padding: 7px 10px;
}
#save-btn:hover {
    background-color: #08375e;
}
#input-name {
    width: 300px;
    text-align: center;
    height: 40px;
}

#total-employee {
    font-weight: 500;
    font-size: 1.2rem;
}

#employee-list .view:hover {
    background-color: #08375e;
}