.img-div {
    width: 100%;
    text-align: center;
}

.option-btn {
    /* padding: 10px 20px; */
    width: 200px;
    height: 45px;
    border: 0;
    background-color: slategrey;
    color: white;
    font-weight: 500;
}
.option-btn:hover{
    background-color: darkseagreen;
}

.hidden {
    display: none !important;
}
li{
    list-style: none !important;
}

#employee-list li .edit {
    display: none;
}

#employee-list li.editing .edit {
	display: block;
	width: 300px;
	padding: 5px 15px;
	margin: 0;
}

#employee-list .view {
    background-color: steelblue;
    width: 300px;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}